<div class="container">

  <div class="row justify-content-center">
    <h1 class="h1">Media</h1>
  </div>



    <div class="row justify-content-center">
        <h3 class="h3">Soundcloud</h3>
    </div>

    <div class="row justify-content-center">

      <iframe width="50%" height="500" scrolling="no" frameborder="no" allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/647968941&color=%231200ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>


    <div class="pt-5 row justify-content-center">
        <h3 class="h3">Image Galleries</h3>
    </div>


  <div *ngFor="let thumb of galleryThumbs" class="col pt-3">



    <div class="col d-flex justify-content-center">
      <img src="{{thumb.url}}" alt="{{thumb.name}}" class="thumb-image">
    </div>

    <div class="col">
      <h3 class="h3 gallery-header"><p class="album-name text-center">{{thumb.name}}</p></h3>
    </div>




  </div>




    </div>
