<div class="mobile-pad container-fluid">
<!--  <script type="text/javascript" src="jquery-3.3.1.js"></script>-->



  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Events & Show Dates</h1>
    </div>
  </div>

  <div class="row desktop-events">
    <div class="col">

      <div align="center">
        <iframe  class="event-frame-class" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flukuthemad%2F&tabs=events&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1145703462230147" width="500" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="10" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>


    </div>
  </div>

  <div class="row mobile-events">
    <div class="col">

      <div align="center">
        <iframe class="event-frame-class" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flukuthemad%2F&tabs=events&width=300&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1145703462230147" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>


    </div>
  </div>

</div>

