//.mobile-events{display: none}
//.desktop-events{display: block}
//@media only screen and (max-width: 900px) {
//  /* For tablets: */
//
//  .mobile-pad{padding-top: 100px;}
//  .mobile-events{display: block}
//  .desktop-events{display: none}
//
//
//
//}
//
//.google-calendar{
//  border: 0;
//  width: 100%;
//  height:600px;
//  justify-content:center;
//}
//
.event-card {
  background-color: #eeeeee;
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.event-card h2, h3, h4,  {
  text-align: center;


}

