<div class="mobile-pad container-fluid">
  <script type="text/javascript" src="jquery-3.3.1.js"></script>



  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Upcoming Events and Show Dates</h1>
    </div>
  </div>


  <div class="eventList">
    <div *ngFor="let event of events" class="col-md pt-3 event-card">
      <br>
      <h2>{{event.summary}}</h2>
<!--      <h3>{{ event.start.dateTime | date : shortDate }}</h3>-->
      <h4>From
        {{(event.start.dateTime != null) ? (event.start.dateTime | date : shortDate) : (event.start.date | date : shortDate)}}
        To

        {{(event.end.dateTime != null) ? (event.end.dateTime | date : shortDate) : (event.end.date | date : shortDate)}}
      </h4>
      <h4><address>{{event.location}}</address></h4>

    </div>

  </div>


</div>

