<div class="container-fluid">
<!--  <script type="text/javascript" src="jquery-3.3.1.js"></script>-->
<!--  <script src="js/YourExternalJQueryScripts.js"></script>-->
  <script src="jetbrains://idea/navigate/reference?project=NewLukuSite&path=LukuSiteAngular/node_modules/angular-bandsintown-api-factory"></script>

<!--  <script src="../../node_modules/angular-bandsintown-api-factory/src/angular-bandsintown-api-factory.min.js"></script>-->
  <script src="../../../node_modules/angular-bandsintown-api-factory/src/angular-bandsintown-api-factory.js"></script>


  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Events and Show Dates</h1>
    </div>
  </div>

<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script>-->
<!--      <a class="bit-widget-initializer" data-artist-name="Luku The Mad Skald" data-display-local-dates="false"-->
<!--         data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#0080ed"-->
<!--         data-background-color="rgba(0,0,0,0)" data-display-limit="5" data-display-start-time="true" data-link-text-color="#ffffff"-->
<!--         data-display-lineup="false" data-display-play-my-city="true" data-separator-color="rgba(124,124,124,0.25)"></a>-->
<!--    </div>-->
<!--  </div>-->

</div>

