.presskit-about{
  max-width: 60%;
  margin: auto;
}

.presskit-about li{
  list-style: none;
}

.promo-thumb{
  width: 25%;
  height: 25%;
  margin-top: 5px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  object-fit: cover;
}


.image-container{


  padding: 5px;

}

.col {
  text-align: center;

}
