<div class="container-fluid">
  <!--  <script type="text/javascript" src="jquery-3.3.1.js"></script>-->



  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Luku The Mad Skald</h1>
      <h3 class="h3 text-center">Digital Press Kit</h3>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col">
            <h3 class="h3 text-center">About</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class=" luku-text-sm text-center presskit-about">First appearing at the Kentucky Highland Renaissance Festival in 2019, Luku was met with excellent reviews from the fans and performers alike.  In addition to family friendly shows, Luku the Mad also joined in at the daily Adult Pub and Final Pub Sings to much laughter and high energy drinking songs.

        Stemming out of a decade long passion for the Renaissance Festival, and over 16 years of performing music live in traditional venues, the act of Luku the Mad Skald was formed.  After having attended faire as a patron, a Vendor, and a blacksmith in 2019 the leap was made to performer and a new home at faire was found!

        Quick wit and quirky humor as well as a mix of traditional songs you would hear at the faire, Viking songs, and original songs make for a unique show!</p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col">
      <h3 class="h3 text-center">Notable Appearances</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class=" luku-text-sm text-center presskit-about">2019 Kentucky Highland Renaissance Festival - Eminence, KY</p>
      <p class=" luku-text-sm text-center presskit-about">2019 Indianapolis Renaissance Festival - Noblesville, IN</p>
      <p class=" luku-text-sm text-center presskit-about">2020 Pendragon Medieval Faire Pop Up Party - Marion, OH</p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col">
      <h3 class="h3 text-center">Awards & Achievements</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class=" luku-text-sm text-center presskit-about">2019 Renaissance Festival Awards - <i>"Best Solo Variety Act"</i> - <b>3rd Place</b></p>


    </div>
  </div>

  <div class="row pt-5">
    <div class="col">
      <h3 class="h3 text-center">Act Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class=" luku-text-sm text-center presskit-about">Luku The Mad, while a solo stage act,
        has up to two tip/merchandise sales girls who also participate in the act in the form of playful banter during
        the show.  They also help to get the crowd involved by leading in ques for audience participation parts such as
        clapping, call and response during songs, and picking audience members for involvement in the show.</p>

    </div>
  </div>

</div>
