<div class="mobile-pad container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="h1 text-center">Songlist</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="h3 text-center">Clean Songs</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

            <div class="song-list luku-text text-center" *ngFor="let song of cleanSongs">
              {{song}}
            </div>

      </div>

    </div>




</div>
<!--<div class="mobile-pad container-fluid">-->

<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <h1 class="h1 text-center">Songlist</h1>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row justify-content-center">-->

<!--      <h1 class="h3 text-center">Clean Songs</h1>-->

<!--  </div>-->

<!--    <div class="row justify-content-center">-->


<!--      <ul class="song-list">-->
<!--        <li class="text-center" *ngFor="let song of cleanSongs">{{song}}</li>-->
<!--      </ul>-->




<!--  </div>-->

<!--  <div class="row justify-content-center">-->

<!--    <h1 class="h3 text-center">Bawdy Songs</h1>-->

<!--  </div>-->

<!--  <div class="row justify-content-center">-->


<!--    <ul class="song-list">-->
<!--      <li class="text-center luku-text" *ngFor="let song of bawdySongs">{{song}}</li>-->
<!--    </ul>-->




<!--  </div>-->




<!--</div>-->
