<div class="mobile-pad container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="h1 text-center">Songlist</h1>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h1 class="h3 text-center">Clean Songs</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

            <div class="song-list luku-text text-center pt-1" *ngFor="let song of cleanSongs">
              {{song}}
            </div>

      </div>

    </div>
<br><br>

  <div class="row">
    <div class="col">
      <h1 class="h3 text-center">Bawdy Songs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="song-list luku-text text-center pt-1" *ngFor="let song of bawdySongs">
        {{song}}
      </div>

    </div>

  </div>
  <br><br>

  <div class="row">
    <div class="col">
      <h1 class="h3 text-center">Stories</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="song-list luku-text text-center pt-1" *ngFor="let song of stories">
        {{song}}
      </div>

    </div>

  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <h1 class="h3 text-center">Kids Songs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="song-list luku-text text-center pt-1" *ngFor="let song of kidsSongs">
        {{song}}
      </div>

    </div>

  </div>


</div>
