<div class="container-fluid">

  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Bio</h1>
      <h2 class="h3 text-center">Hello, my friends!</h2>

    </div>
  </div>

  <div class="row">

    <div class="col-md">
      <b class="h3 text-center">Jeg heter Luku!</b>
      <span class="luku-text">
        <img src="../../assets/images/sitephotos/bio1.jpg" class="bio-img">
       Or in English: My name is Luku! Welcome to the digital home of me, Luku the Mad Skald!  When I am around, madness and fun are the name of the game! - Luku the Mad Skald

        <br><br>First appearing at the Kentucky Highland Renaissance Festival, Luku was immediately met with positive response and great reviews.  Between his family friendly shows and his over-the-top
        adult shows: there is something to be found for everyone when The Mad Skald is around!

      Luku performs a variety of material ranging from classic songs you hear at faire - such as Black Velvet Band, Isn't It Grand Boys?, Tell Me Ma - to Norse inspired ballads and war chants - like Lifeblood and a Song for Odin -  all the way up to some modernized songs reworked as ballads, and some originals thrown in as well!  For his adult shows,
        Luku will break out material sure to split your sides like an Englishman hit by a bearded axe thrown by a Norse raider of old!

      So if you want to have a good time, and have some fun laughing and singing,  come see Luku the Mad Skald!

      “My friends!  I hope you will join me in a fun filled time at your local faire or pub!  We can raise our drinking horns high in song together!”

      </span>

    </div>


  </div>
</div>
