<div class="mobile-pad container-fluid">

  <div class="row">
    <div class="col">
      <h1 class="h1 text-center">Merchandise</h1>

    </div>
  </div>

  <br>
  <h3 class="h3 text-center">Digital Albums</h3>
  <div class="row">

    <div *ngFor="let album of albums" class="col-md-4 pt-3">

      <div class="col">
        <p class="album-name text-center">{{album.name}}</p>
      </div>

      <div class="col d-flex justify-content-center">
        <img src="{{album.img}}" alt="{{album.name}}" class="album-image">
      </div>

      <div class="col d-flex justify-content-center">

        <a href="{{album.itunes}}"><i class="fab fa-itunes fa-2x p-2 fa-coloring"></i></a>
        <a href="{{album.applemusic}}"><i class="fab fa-apple fa-2x p-2 fa-coloring"></i></a>
        <a href="{{album.spotify}}"><i class="fab fa-spotify fa-2x p-2 fa-coloring"></i></a>
        <a *ngIf="album.iheart" href="{{album.iheart}}"><i class="fa fa-heart fa-2x p-2 fa-coloring"></i></a>




      </div>


    </div>

  </div>

</div>
