.album-image {
  max-width: 50%;
}

.album-name{
  font-family: Norse;
  font-weight: bold;
  font-size: 2.2em;
  text-shadow: 0px 0px 3px white;
}

.fa-coloring  {
  color:black;
}

.fa-coloring:hover {
  color:blue;
  opacity: 80%;
}


.cd-button:hover{
  opacity: 70%;

}
