@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5%;
  padding-left: 2%;
  background-color: rgb(255, 255, 255) !important;
  //background-image: url("./assets/images/bg/parchment.jpg");
}

.bg{
  //background-image: url("./assets/images/bg/parchment.jpg");

}

.bg-img
{
  background-image: url('./assets/images/bg/parchment-bg.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1  {
  color: #000000;
  font-family: Ringbearer;
  font-size: 3.5em !important;
  text-shadow: 0px 0px 3px #0018a7;
}

.h3  {
  color: black;
  font-family: Ringbearer;
  font-size: 2.5em !important;
}

.gallery-header{
  font-size: 1.4em !important;
}


.luku-text{
  font-family: "Ringbearer";
  font-size: 1.6em;
  //text-shadow: 0px 0px 3px rgb(238, 250, 255);

}


.luku-text-link a {
  font-family: "Ringbearer";
  font-size: 1.6em;
  text-decoration: none;
  text-shadow: 0px 0px 2px black;
  color: #0018a7;
  //text-shadow: 0px 0px 3px rgb(238, 250, 255);

}

.luku-text-link a:hover {
  font-family: "Ringbearer";
  font-size: 1.7em;
  text-decoration: none;
  text-shadow: 0px 0px 4px black;
  color: #0020ff;
  //text-shadow: 0px 0px 3px rgb(238, 250, 255);

}



