/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5%;
  padding-left: 2%;
  background-color: rgba(167, 176, 168, 0.7) !important;
  //background-image: url("./assets/images/bg/parchment.jpg");
}

.bg{
  //background-image: url("./assets/images/bg/parchment.jpg");

}
