<div class="container">

  <div class="flex-column">

    <div class="row align-middle justify-content-center">

      <div class="row">
        <div class="h1">Welcome to the home of</div>
      </div>

      <div class="row justify-content-center">
        <img class="luku-img-1" src="../../assets/images/luku1.jpg">
      </div>

      <div class="row mb-auto justify-content-center">
        <img class=" logo-img" src="../../assets/images/logos/coverimg-nobg.png">
      </div>

    </div>

  </div>

</div>
