//body {
//  padding-top: 5%;
//  padding-left: 2%;
//}
//.logo-img {
//  margin-left: auto !important;
//}
//
.luku-img-1 {
    max-width: 30%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  }

.home-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.gallery-pad{
  padding-bottom: 10px;
}
